*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* my utility*/
.flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.width-jumbo-footer{
  width: 1370px;
}
.width{
  width: 1000px;
}
a{
  text-decoration: none;
  color: black;
}
.blue-button{
  background-color: rgba(0,97,255,255);
  padding: 10px 10px;
  color: white;
}
img{
  width: 100%;
  height: 100%;
}
.debug{
  border: 1px solid black;
}

/*header*/
header{
  height: 100px;
  position: relative;
}
.nav.flex{
  background-color: white;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}
.right-nav{
  padding: 20px 20px;
}
.logo{
  width: 200px;
  height: 100%;
}
li{
  list-style: none;
}
ul{
  justify-content: space-around;
  width: 450px;
}

/* jumbotron */

#jumbotron{
  height: 650px;
  background-color: rgba(180,208,231,255);
}
h1{
  padding-top: 200px;
  font-size: 5rem;
  font-weight: bold;
}
.text-and-img{
  padding-top: 30px;
}
.cont-jumbo.flex{
  width: 50%;
  flex-direction: column;
}
.text-jumbo{
  padding-bottom: 50px;
}
.fa-solid.fa-arrow-down{
  font-size: 2.5rem;
}


/* main dopo jumbo */ 
#piani-buisiness{
  padding-top: 200px;
}

/* head central section */
h2{
  font-size: 3rem;
  line-height: 100px;
}
.sub{
  padding-right: 15px;
}
menu{
  line-height: 100px;
  text-align: center;
}
.offerts{
  justify-content: space-between;
}

/*card top*/
.card-size{
  height: 1200px;
  width: 30%;
  border: 1px solid black;
}
.user{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

/*card clou */
.offert-description{
  width: 85%;
  height: 100%;
  margin-top: 30px;
}

/*top pffert description*/
h3{
  font-size: 2rem;
}
.price{
  margin-top: 20px;
  margin-bottom: 20px;
}
.period{
  font-weight: bold;
  color: rgba(114,114,114,255);
  margin-bottom: 50px;
}
ul.clou,
ul.ul-bottom{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
li.li-clou{
  margin-bottom: 30px;
  height: 50px;
}
.clou-btn{
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.blue-button.contattaci{
  padding: 10px 60px;
}
#a-solo{
  color:blueviolet;
  text-decoration: underline;
}

/*bottom offert description*/
.a-solo{
  height: 150px;
  margin-top: 50px;
}
#bottom-solo{
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.fa-check{
  color: rgba(0,97,255,255);
  font-weight: bold;
}

/*fourth card*/
.card-size.fourth-card{
  border: 1px solid black;
  width: 100%;
  height: 300px;
  margin-top: 150px;
  margin-bottom: 150px;
}
h5{
  margin-top: 15px;
  margin-bottom: 30px;
}
.offert-description.fourth-card{
  justify-content: space-between;
}
div.text-fourth-card{
  width: 70%;
}
.clou-btn.fourth-card{
  width: 30%;
}

/* partner dropbox section */

div.partner-cont{
  height: 700px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 150px;
}
div.image-partner{
  width: 60%;
  height: 75%;
}
div.text-partner{
  width: 50%;
  height: 80%;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
}
.trova-partner-btn{
  border: 1px solid black;
  padding: 10px 25px;
  text-align: center;
}

/* dropbox business section */

.card-b-sec{
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-bottom{
  width: 300px;
  height: 600px;
}
.card-bottom.central{
  margin-left: 20px;
  margin-right: 20px;
}
.bottom-card-p{
  padding-right: 5px;
  padding-top: 20px;
}
.scopri-business{
  width: 750px;
  margin-bottom: 150px;
  margin-top: 100px;
}
.scopri-t{
  margin-bottom: 30px;
}
a.scopri{
  text-decoration: underline;
  color: blueviolet;
}

/*sponsor*/
.big-square{
  width: calc(100%/3);
  aspect-ratio: 1/1;
  flex-wrap: wrap;
}
.little-square{
 width: calc(100%/2);
 aspect-ratio: 1/1;
}
.sponsor-img{
  filter: invert(1);
  width: 50%;
  height: 50%;
}
.sponsor-img.florida{
  width: 60%;
  height: 10%;
}
.middle-square{
  overflow: scroll;
}
.inner-middle-square{
  max-width: 80%;
  height: 80%;
  padding-top: 10px;
}
.sponsor-middle-img{
  height: 30%;
  width: 50%;
}
.separatore{
  width: 25%;
  border-top: 1px solid gray;
  height: 10%;
}
h5{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
}

/*colors-img*/
.designit-color{
  background-color: rgba(162,211,155,255);
}
.arizona-color{
  background-color: rgba(97,8,43,255);
}
.florida-color{
  background-color: rgba(0,147,206,255);
}
.topss-color{
  background-color: rgba(255,28,28,255);
}
.designit-text.color{
  background-color: rgba(245,245,245,255);
}
.relief-color{
  background-color: rgba(213,0,31,255);
}
.hearts-color{
  background-color: rgba(180,208,231,255);
}
.lonely-p-color{
  background-color: rgba(13,36,129,255);
}
.clear-color{
  background-color: rgba(255,216,48,255);
}

/* free trial*/
.prova-gratuita{
  margin: 0 auto;
  height: 400px;
  background-color: rgba(180,208,231,255);
}
.prova-gratuita.block{
  justify-content: space-between;
}
.t-prova-gratuita{
  color: rgba(97,8,43,255);
  text-align: start;
  max-width: 60%;
}
a.white-btn{
  background-color:white;
  padding: 10px 20px;
  max-width: 40%;
  color: black;
  font-weight: bold;
  text-align: center;
}

/* question section */
.question-sec{
  margin: 0 auto;
  padding-top: 150px;
}
.question{
  border-top: 1px solid;
  justify-content: space-between;
  position: relative;
  height: 100px;
}
i.fa-chevron-down{
  position: absolute;
}
i.fa-chevron-up{
  position: absolute;
  display: none;
}
h4{
  padding-top: 20px;
}
.questions-text{
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
  max-width: 80%;
}
.question:hover .questions-text{
  display: block;
}
.question:hover{
  height: 200px;
}
.question:hover .fa-chevron-up{
  display: inline;
}
.question:hover .fa-chevron-down{
  display: none;
}
.question.last{
  border-bottom: 1px solid;
  margin-bottom: 150px;
}

/*footer top*/
footer{
  background-color: black;
  height: 700px;
}
section.width-jumbo-footer{
  margin: 0 auto;
}
.top-footer{
  height: 500px;
  justify-content: space-between;
}
.li-footer{
  color: white;
  width: 20%;
}
.li-bottom-footer{
  padding: 10px 0;
}
.li-bottom-footer.first{
  padding-top: 45px;
}

/* footer bottom */
div.bottom-footer{
  width: 150px;
  border-top: 1px solid white;
  padding-top: 50px;
  color: white;
}