*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* my utility*/
.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.width-jumbo{
  width: 1370px;
}

.width{
  width: 1000px;
}

a{
  text-decoration: none;
  color: black;
}

.blue-button{
  background-color: rgba(0,97,255,255);
  padding: 10px 10px;
  color: white;
  color: white;
}

/*header*/
header{
  height: 70px;
}

.nav.flex{
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.right-nav{
  padding: 20px 20px;
}

.logo{
  width: 200px;
  height: 100%;
}


li{
  list-style: none;
}

ul{
  justify-content: space-around;
  width: 450px;
}

/* jumbotron */

#jumbotron{
  height: 650px;
  background-color: rgba(180,208,231,255);
}

h1{
  padding-top: 200px;
  font-size: 5rem;
  font-weight: bold;
}

.text-and-img{
  padding-top: 30px;
}

.cont-jumbo.flex{
  width: 50%;
  flex-direction: column;
}

.text-jumbo{
  padding-bottom: 50px;
}

.fa-solid.fa-arrow-down{
  font-size: 2.5rem;
}

.jumbo-img{
  width: 100%;
}

/* main dopo jumbo */ 

#piani-buisiness{
  padding-top: 200px;
}

/* head central section */
h2{
  font-size: 3rem;
  line-height: 100px;
}
.sub{
  padding-right: 15px;
}
menu{
  line-height: 100px;
  text-align: center;
}
.offerts{
  justify-content: space-between;
}

/*card top*/
.card-size{
  height: 1000px;
  width: 30%;
  border: 1px solid black;
}
.user{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

/*card clou */
.offert-description{
  width: 85%;
  height: 100%;
  margin-top: 30px;
}

/*top pffert description*/
h3{
  font-size: 2rem;
}
.price{
  margin-top: 20px;
  margin-bottom: 20px;
}
.period{
  font-weight: bold;
  color: rgba(114,114,114,255);
  margin-bottom: 50px;
}
ul.clou,
ul.ul-bottom{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
li.li-clou{
  margin-bottom: 30px;
  height: 50px;
}
.clou-btn{
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#a-solo{
  color:blueviolet;
  text-decoration: underline;
}

/*bottom offert description*/
.a-solo{
  height: 150px;
  margin-top: 50px;
}
#bottom-solo{
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.fa-check{
  color: rgba(0,97,255,255);
  font-weight: bold;
}

/*fourth card*/
.card-size.fourth-card{
  border: 1px solid black;
  width: 100%;
  height: 300px;
  margin-top: 150px;
  margin-bottom: 300px; /*giusto per */
}

h5{
  margin-top: 15px;
  margin-bottom: 30px;
}

.offert-description.fourth-card{
  justify-content: space-between;
}